.landingPageOuter {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 412px) {
    .landingPageOuter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .userDetailsEntrySection {
        position: relative;
        align-items: flex-start;
    }
}